.selectsearch {
   border: 1px solid #111;
   border-radius: 5px;
   background: transparent;
   width: 200px;
   padding: 5px 35px 5px 5px;
   font-size: 12px;
   border: 1px solid #ccc;
   height: 34px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background: url("../images/down_icon.png") 99% / 15% no-repeat #eee;
}
/*target Internet Explorer 9 and Internet Explorer 10:*/
@media screen and (min-width:0\0) { 
    .selectsearch {
        background:none;
        padding: 5px;
    }
}